@{
    ViewData["Title"] = "Index"; //Browse Page
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script type="text/javascript" src="js\Browse.js"></script>
*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*Drop down function*@

