@model _521Final.Models.Genre

@{
    ViewData["Title"] = "Details";
}

<div class="container text-center">
    <h1>Details</h1>
</div>
<div class="box">
    <div class="container" id="" style="">
        <div class="row">
                <div class="col-sm-11">
                    <div class="panel panel-primary">
                    <div class="panel-heading"> @Html.DisplayNameFor(model => model.Name)</div>
                        <div class="">
                            <label for="Label"></label>
                        <span id=""> @Html.DisplayFor(model => model.Name)</span>
                        </div>
                       
                    </div>
                </div>
                  <div class="col-sm-11">
                    <div class="panel panel-primary">
                    <div class="panel-heading">@Html.DisplayNameFor(model => model.Description)</div>
                        <div class="">
                            <label for="Label"></label>
                        <span id=""> @Html.DisplayFor(model => model.Description)</span>
                        </div>

                    </div>
                </div>

            }
        </div>
    </div>
    <br>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>

</div>
