@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book Match</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--booststrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!--jquery and bootstap js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
 
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <script src="https://media.istockphoto.com/id/850219738/vector/pixel-book-pixel-art-cartoon-retro-game-style.jpg?s=170667a&w=0&k=20&c=OMRrA9MMiNIooFzzDIRlMvEdMZZIi8JxvXCN4bm4U9o=" integrity="sha384-Syu3ap1uYAB96eS3iFonOSYuo/cO77YFHwg574fObha+55BLMPSwgm+fI+3NiI7q" crossorigin="anonymous"></script>
    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: saddlebrown;
      padding: 25px;
    }
  </style>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Book Match</h1>      
            <h3>Find your perfect match</h3>
        </div>
    </div>
@*we can put this in the header if we want it at the actual top*@
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        @if (User.IsInRole("User"))
        {
        <li><a class="nav-link text-dark" asp-area="" asp-controller="UserBooks" asp-action="Index">My Books</a></li>
        }
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Books</a></li>
        @if (User.IsInRole("Admin"))
        {
        <li><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="GenreReport">Genre Report</a></li>
        <li><a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="TopRated">Top Rated Book Report</a></li>
        }
            </ul>
     @* <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
      </ul>*@
      <partial name="_LoginPartial" />
    </div>
  </div>
</nav>

<div class="container body-content">
    @RenderBody()
    @RenderSection("scripts", required: false)
    <hr />
</div>

    <footer class="container-fluid text-center">
        <p>Book Match Mailing List</p>
        <form class="form-inline">
            Get notified when a new Best-Seller hits Book Match:
            <input type="email" class="form-control" size="50" placeholder="Email Address">
            <button type="button" class="btn btn-danger">Sign Up</button>
        </form>

        <!--testing-->
        @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@

    </footer>
    
</body>

</html>
