@model Book

<h1>Create Book</h1>

<form asp-action="Create">
    <div>
        <label>Title:</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label>Author:</label>
        <input asp-for="Author" />
    </div>
    <div>
        <label>Rating:</label>
        <input asp-for="Rating" />
    </div>
    <div>
        <label>Description:</label>
        <textarea asp-for="Description"></textarea>
    </div>
    <button type="submit">Create</button>
</form>

@* Probs dont need this page bc we are pulling them in using API *@