@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Book>

    @*<h1>Book List</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Rating</td>
            </tr>
        }
        </tbody>
    </table>*@
