@model List<ApplicationUser>



@{
    ViewData["Title"] = "Users";
}



<h1>Users</h1>



@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => user.Email)</td>
                    <td>@Html.DisplayFor(ModelItem => user.Role)</td>
                    <td>
                    <form asp-controller="User" asp-action="UpdateRole" method="post">
                    <input type="hidden" name="userId" value="@user.Id" />
                    <select name="roleName">
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                    </select>
                    @if (user.Role == "User")
                        {
                            <script>document.querySelector('select[name="roleName"] option[value="User"]').setAttribute('selected', 'selected');</script>
                        }
                    else if (user.Role == "Admin")
                    {
                       <script>document.querySelector('select[name="roleName"] option[value="Admin"]').setAttribute('selected', 'selected');</script>
                    }
                    <button type="submit">Update</button>
                    </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users found.</p>
}