@model List<ApplicationUser>



@{
    ViewData["Title"] = "Users";
}



<h1>Users</h1>



@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => user.Email)</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-secondary" href="@Url.Action("Details", "User", new { id = user.Id })">Details</a>
                            <a class="btn btn-secondary" href="@Url.Action("Edit", "User", new { id = user.Id })">Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users found.</p>
}