@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div>
    <div class="box" style="margin-top: 15px;">
        <div class="container" id="" style="">
            <div class="row">
                <div class="panel panel-primary" style="width: 1200px; margin: 0 auto;">
                    <div class="panel-heading">Change your account settings</div>
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
        </div>
    </div>
    </div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
</div>
