@*
    Login Page, we need to do bootstrap today!
*@
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
     <h1 style="font-size:100px; color:darkred; margin:10px;">Better Reads</h1>

     <p style="font-size:30px; color: darkred;"><em>Login</em></p>
</div>
