<!DOCTYPE html>
<html lang="en">

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; //add this to everything
}
<script src="~/js/Home.js"></script>
@*<div class="text-center">
    <h1 class="display-4">welcome</h1>
    <p>learn about <a href="https://docs.microsoft.com/aspnet/core">building web apps with asp.net core</a>.</p>
</div>*@

<div class="white-box">
    <p><p>
        <strong>Welcome to our book recommendation website! We make it easy to find books that suit your interests. Use our search function to find information on a wide variety of books, read brief summaries, and see what other readers have to say. Our personalized recommendation engine suggests books you're likely to enjoy based on your past preferences. Explore different genres and themes with our recommended reading lists. Start finding your next favorite read today!</strong>
    </p></p>
    <h3><strong>Check out a couple of our best selling books!</strong></h3>
    <br />
</div>

<div class="container">  
    <br />
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
                <div class="panel-heading"><strong>The Silent Patient by Alex Michaelides</strong></div>
                    <div class="panel-body"><img src="https://th.bing.com/th/id/OIP.uUMCez97vxzU06pdu97EXQHaLW?pid=ImgDet&rs=1" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">A twisty psychological thriller. In The Silent Patient, Alicia Berenson is a well-known painter who murdered her husband six years ago and hasn't spoken a word since. He was found bound to a chair with gunshot wounds to his face, and she was convicted soon there after.</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
                <div class="panel-heading"><strong>A Happy Place by Emily Henry</strong></div>
                    <div class="panel-body"><img src="https://images.thalia.media/07/-/34acf6e0d84f4bc0b7e527617240b597/happy-place-taschenbuch-emily-henry.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">A couple who broke up months ago pretend to still be together for their annual weeklong vacation with their best friends in this glittering and wise new novel from #1 New York Times bestselling author Emily Henry. </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
                <div class="panel-heading"><strong>Mistborn by Brandon Sanderson</strong></div>
                    <div class="panel-body"><img src="https://i.pinimg.com/736x/cc/98/e9/cc98e946e5a4438fea4a5a46049952a3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <div class="panel-footer">It is a major part of the cosmere sequence and is set mostly on the planet Scadrial. It is most well known as the trilogy of Mistborn: The Final Empire, The Well of Ascension and The Hero of Ages, but there have been additional installments.</div>
      </div>
    </div>
  </div>
</div><br>
