@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; //add this to everything
}

@*<div class="text-center">
    <h1 class="display-4">welcome</h1>
    <p>learn about <a href="https://docs.microsoft.com/aspnet/core">building web apps with asp.net core</a>.</p>
</div>*@

@*chat GPT stuff from mr GPT himself*@
<div class="row">
    <div class="col-md-6">
        <h2>Chat with ChatGPT</h2>
        <form id="chatForm">
            <input type="text" id="messageInput" placeholder="Type your message" />
            <button id="sendButton">Send</button>
        </form>
        <ul id="messages"></ul>
    </div>
</div>
<p>
    Welcome to our book recommendation website! We're here to help you discover your next great read. Whether you're a voracious reader or just looking for something new to dive into, our site makes it easy to find books that suit your interests.

    Using our search function, you can enter keywords, author names, or book titles to quickly pull up information on a wide variety of books. Once you find a book that catches your eye, you can read a brief summary and see what other readers have to say about it. We've also included recommended reading lists to help you explore different genres and themes.

    What sets us apart is our personalized book recommendation engine. By clicking on books you've enjoyed in the past, our site will suggest other books that you're likely to enjoy. We use a combination of algorithms and human curation to give you the best possible recommendations.

    So, whether you're in the mood for a gripping mystery, a heartwarming romance, or a thought-provoking nonfiction book, we've got you covered. Start exploring our site today and find your next favorite read!
</p>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Book image</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Book title </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">Book image</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">book title</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Book image</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Book title</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">BLACK FRIDAY DEAL</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
      </div>
    </div>
  </div>
</div><br><br>

<script>
    $(function () {
        $('#chatForm').submit(function (event) {
            event.preventDefault();
            var message = $('#messageInput').val();
            $.post('/Home/GetChatResponse
        }
    }
