@model _521Final.Models.UserBook

@{
    ViewData["Title"] = "Delete";
}
<div class="container text-center">
<h1>Delete</h1>
</div>
    <div class="box">
        <div class="container" id="" style="">
            <div class="row">
                <div class="col-sm-11">
                    <div class="panel panel-primary">
                        <div class="panel-heading"></div>
                        <div class="">
                            <label for="Label"></label>
                            <br />
                            @Html.DisplayNameFor(model => model.Book.Title):

                            @Html.DisplayFor(model => model.Book.Title)

                            <br />

                            @Html.DisplayNameFor(model => model.Book.Author)

                            @Html.DisplayFor(model => model.Book.Author)

                        </div>

                    </div>
                </div>
            </div>
        </div><br>
    </div>
<h3>Are your sure you want to delete this?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserBookId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
