@model _521Final.Models.UserBook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserBook</h4>
    <hr />
    <dl class="row">
        <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
    </dl>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserBookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
