@*referencing My Books and their recommended books*@
@model IEnumerable<Book> //probs gonna change to user books later
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; //add this to everything
}
<script type="text/javascript" src="js\MyBooks.js""></script>

<h1>My Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserBookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserBookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserBookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@


<div class="carousel-container">
    <div class="book">
        <!-- book content goes here -->
        <span id=""></span> 
    </div>
    <div class="book">
        <!-- book content goes here -->
        <span id=""></span>
    </div>
    <div class="book">
        <!-- book content goes here -->
        <span id=""></span>
    </div>
    <div class="book">
        <!-- book content goes here -->
        <span id=""></span>
    </div>
    <div class="book">
        <!-- book content goes here -->
        <span id=""></span>
    </div>
    <div class="book">
        <!-- book content goes here -->
        <span id=""></span>
    </div>
    <!-- ADD FUNCTIONALITY TO NEXT BUTTON -->
    <button class="next-button">Next</button>
</div>

