@*when you click on a specific genre it will list all the books in that genre underneath it*@
@model IEnumerable<_521Final.Models.GenreBook>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; //add this to everything
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Genre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenreBookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GenreBookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GenreBookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
